///
/// Jan Mareen Website : Developed by Genius Tech
///  
/// Powered By Genius Tech Designed By Skrstsh
///

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
		margin: -1em 0 _size(element-margin) -1em;

		li {
			display: inline-block;
			padding: 1em 0 0 1em;
		}
	}