/*
	Jan Mareen Website : Developed by Genius Tech
	 
	Powered By Genius Tech Designed By Skrstsh
*/

/* Tiles */

	body.is-preload .tiles article {
		-moz-transform: none;
		-webkit-transform: none;
		-ms-transform: none;
		transform: none;
		opacity: 1;
	}